nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}
header{
    background-color: lightyellow;
    border-radius: 20px;
    height: 300px;
    padding: 20px;
}
footer ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}